 *{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Pixelify Sans", sans-serif;


}

body {
    background-image: url('https://t3.ftcdn.net/jpg/05/22/33/10/360_F_522331099_Ha6ktAQY8ghcAR8PAqAqeKZZLRPm5g5W.jpg');
     height: 100vh;
}


.interfaceSpace{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
  display: flex;
}

.logo img{
  width: 120px;
 ;

}

/*  cabeçario       */

header {
    padding: 10px 4% ;
    
  }
  
  header > .interfaceSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header a{
    color: rgb(147, 32, 255);
    text-decoration: none;
    display: inline-block; /* faz a propria link receber transform, in line block etc*/
    transition: .2s; /* deixa a transition suave*/ 
    font-size: 28px;
   


  }

  header a:hover{
    color: aqua;
    transform: scale(1.07);


  }

  header nav ul{
    list-style: none;
  }

  header nav ul li{
    display: inline-block;
    padding: 0 40px;
  }

   .jogar button{

    padding: 10px 40px;
    font-size: 28px;
    font-weight: 600;
    background-color: rgb(41, 235, 41);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: auto;

  }

   .jogar button:hover{
    box-shadow: 0px 0px 20px rgb(126, 216, 146) ;
    transform: scale(1.05);
    transition: .2s;
    
  }

  


  /*  */
 
  .topo-do-site {
    padding: 40px 4%;
  }
  
  .topo-do-site .flex {
    display: flex;
    padding: 50px;
    gap: 100px;
    justify-content: flex-start; 
    align-items: flex-start;  
  }
  
  .topo-do-site h1 {
    color: white;
    font-size: 50px;
    line-height: 40px;
    padding: 30px;
    text-align: left; 
  }
  
  .topo-do-site h1 span {
    font-size: 100px;
    color: rgb(0, 255, 0);
  }
  
  div.img-topo-site {
    padding: 0px;
    letter-spacing: 30px;
    width: 100px;
    box-shadow: none;
  }
  
  .topo-do-site p {
    color: white;
    margin: 50px 0px;
    text-align: left;  
  }
  
  .topo-do-site .img-topo-site {
    align-items: center;
    margin-left: 60px;
    width: 500px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate; /* Animação */
  }
  
  @keyframes flutuar {
    0% {
      top: 0;
    }
    100% {
      top: 30px;
    }
  }
  