body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #000;  
    color: white;            
    font-family: sans-serif;
    
}

.space {
    font-size: 5rem ;
    font-weight: bold;
}
